flask==2.3.2
flask-jwt-extended==4.5.2
python-owasp-zap-v2.4>=0.0.14
weasyprint==58.0
pytest==8.1.1
pytest-html==4.1.1
python-dotenv==1.0.0
requests==2.31.0
flask-limiter==3.5.0
flask-talisman==1.0.0
flask-principal==0.4.0
